#keys {
  background-color: red;
}

body {
}

html {
  white-space: nowrap;
  overflow: auto;
  overflow-x: auto;
}

canvas {
  all: unset;
  display: inline-block;
  width: 100% !important;
  height: 100% !important;
}
